    <h4>Steps to install Java:</h4>
    <p>To run Java code, we need two things, JRE(Java Runtime Environment) and JVM(Java Virtual Machine), but if you are
        a developer, you also need JDK(Java Development Kit) to create program. We will discuss about these concepts in
        next chapter i.e. <a (click)="goto('howjavaworksinternally')">How Java Works Internally</a>.
        <br>
        We can not install JVM alone, JVM is a part of JRE. JRE is also bundled with JDK nowadays, so we just have to
        install JDK to get started.
    </p>
    <ul type="number">
        <li>
            First we will download & install JDK, to download Click on <a
                href="https://www.oracle.com/java/technologies/javase-downloads.html">Download JDK</a>. Click on JDK
            Download link on that page and download the version according to your system requirements. Now open the
            installer and install JDK.
        </li>
        <li>
            Now go to Environment Variables of your account,(to open this search environment variable on window search
            or right click on MyComputer, select properties, select Advanced System Settings, select Environment
            variables).
        </li>
        <li>
            In environment variables, one variable named path will be present if not create one otherwise edit that
            variable, create one entry in path by clicking on 'New' and paste bin folder location of your Java. For bin
            folder location go to C drive->Program Files->Java->jdk->bin, go inside bin folder copy the location and
            paste on environment variable named path.
        </li>
        <li>
            To check whether java is installed successfully in your system, open Command Prompt and type command javac
            -version. If java version shows, it shows java installed successfully in your system.
        </li>
        <li>
            Now we can open any text editor, write java code save it with .java extension, and then we can run it, but
            writing program on notepad is a tedious task and also it is very error prone. To solve this problem, we will
            install IDE(Integrated Development Environment) which will help us, so that we can put effort on logic
            building rather than syntax issues. These IDE will help in auto completion of code, give code
            boilerplate(pre written code), shows syntax error and in lot more things.
        </li>
        <li>
            There are many IDE's out there, you are free to choose one. We are using Eclipse for this learning. To
            download Eclipse visit <a href="https://www.eclipse.org/downloads/">this link</a> and download Eclipse
            version whichever you want. We are using Enterprised Edition(EE) in our examples.
        </li>
        <li>
            Install Eclipse.
        </li>
    </ul>
    <br>
    <p class="text-center" style="font-style: italic;background-color: yellow;">So now, we have installed Java and IDE
        we will learn how java works internally and then we will write out first code.</p>
